/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.23, autoprefixer: v9.7.3) */

body{
	font-family: 'Roboto', sans-serif;
	background: rgb(255,255,255);
	background: -o-radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(241,238,253,1) 31%);
	background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(241,238,253,1) 31%);
}

.navbar-brand{
	font-size: 25px;
	margin-left: 30%;
}

.navbar-toggler{
	border: none !important;
}

.navbar-toggler:focus{
	outline: none;
}

.navBurger{
	color: #6C61F6;
}

.blue{
	color: #6C61F6;
}

.alert{
	margin: 0;
}

.modal-content{
	background:rgba(255, 255, 255, 0.9) !important;
}

.navlink{
	color: inherit;
	text-decoration: none;
}

.navlink:hover{
	color: inherit;
	text-decoration: none;
}

.showcase{
	background-image: url("images/showcase.jpg");
	background-position: bottom;
	background-repeat:  no-repeat;
	background-attachment: fixed;
	background-size: cover;
	height: 60vh;
}

.search{
	width: 400px;
	height: 400px;
	margin: 0 5%;
}

.search2{
	background-color: #FFF;
	border-radius: 10px;
	-webkit-box-shadow: 5px 5px 10px;
	        box-shadow: 5px 5px 10px;
	padding: 10px 40px;
	width: 400px;
}

.showcase2{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.showcase3{
	background-image: url("images/showcase2.jpeg");
	background-position: bottom;
	background-repeat:  no-repeat;
	background-attachment: fixed;
	background-size: cover;
	height: 60vh;
}

.showcase4{
	margin-bottom: 10%;
}


.buttons{
	margin: 10% 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.formzz{
	background-color: #8985A8;
	border-radius: 10px;
	-webkit-box-shadow: 5px 10px 10px;
	        box-shadow: 5px 10px 10px;
	padding: 30px;
	width: 400px;
}

.formzz2{
	background-color: #8985A8;
	border-radius: 10px;
	-webkit-box-shadow: -5px 10px 10px;
	        box-shadow: -5px 10px 10px;
	padding: 30px;
	width: 400px;
}

.formTitle{
	color: white;
	text-align: center;
}

.button-outline-light{
	border: 1px solid white;
	color: white;
}

.button-outline-light:hover{
	color: #6C61F6;
	background: white;
}

.button-outline-light:focus{
	-webkit-box-shadow: none;
	        box-shadow: none;
}

.button-outline-primary{
	border: 2px solid #6C61F6;
	color: #6C61F6;
}

.button-outline-primary:hover{
	background-color: #6C61F6;
	border: 2px solid #6C61F6;
	color: white;
}

.button-outline-primary:focus{
	-webkit-box-shadow: none;
	        box-shadow: none;
}

.button-primary{
	background-color: #6C61F6;
	border: 2px solid #6C61F6;
	color: white;
}

.button-primary:hover{
	background-color: white;
	border: 2px solid #6C61F6;
	color: #6C61F6;
}

.button-primary:focus{
	-webkit-box-shadow: none;
	        box-shadow: none;
}

.editProfilePic{
	max-width: 12rem !important;
	max-height: 14rem !important;
	margin: 0 auto;
}


#inputStreet {
  width: 100%;
}

#inputCity {
	display: inline-block;
	margin: 2% 0;
  width: 40%;
}

#inputState {
	display: inline-block;
	margin: 2% 0;
  width: 30%;
}

#inputZip {
	display: inline-block;
	margin: 2% 0;
  width: 30%;
}

#inputCountry {
  width: 100%;
}


.img-thumbnail{
	border: 1px solid #6C61F6;
	border-radius: 10px;
	padding: 5px;
}


@media only screen and (max-width: 700px) {

	body{
		background: none;
	}

	.navbar-brand{
		font-size: 20px;
		margin-left: 10%;
	}

	.showcase{
		background-image: url("images/showcase.jpg");
		background-position: top;
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-size: 100% 50%;
		height: 300px;
	}


	.showcase2{
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
	}


	.search{
		width: 80%;
		margin: 0;
	}

	.search2{
		width: 80%;
		font-size: 15px;
	}

	.showcase3{
		display: none;
	}

	.buttons{
		margin: 10% auto;
		width: 80%;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		    -ms-flex-direction: row;
		        flex-direction: row;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
	}

	#searcherForm{
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: reverse;
		    -ms-flex-direction: column-reverse;
		        flex-direction: column-reverse;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
	}


	.formzz{
		background-color: #8985A8;
		border-radius: 10px;
		-webkit-box-shadow: 5px 10px 10px;
		        box-shadow: 5px 10px 10px;
		padding: 30px;
		width: 90%;
	}

	.formzz2{
		background-color: #8985A8;
		border-radius: 10px;
		-webkit-box-shadow: -5px 10px 10px;
		        box-shadow: -5px 10px 10px;
		padding: 30px;
		width: 90%;
	}


}