.title{
	color: white;
	text-align: center;
}

.profile{
	background-color: #8985A8;
	border-radius: 10px;
	box-shadow: -5px 10px 10px;
	padding: 30px;
	width: 100%;
}

.buttonGroup{
	text-align: center;
	margin-bottom: 10%;
}

.button{
	background-color: #6C61F6;
	border: 2px solid #6C61F6;
	border-radius: 5px;
	color: white;
	transition: all 0.3s;
}

.button:hover{
	background-color: white;
	border: 2px solid #6C61F6;
	color: #6C61F6;
}

.button:focus{
	outline: none;
	box-shadow: none;
}

.button1{
	background-color: #6C61F6;
	border: 2px solid #6C61F6;
	border-radius: 10px 0 0 10px;
	color: white;
	transition: all 0.3s;
}

.button1:hover{
	background-color: white;
	border: 2px solid #6C61F6;
	color: #6C61F6;
}

.button1:focus{
	outline: none;
	box-shadow: none;
}

.button2{
	background-color: #6C61F6;
	border: 2px solid #6C61F6;
	color: white;
	transition: all 0.3s;
}

.button2:hover{
	background-color: white;
	border: 2px solid #6C61F6;
	color: #6C61F6;
}

.button2:focus{
	outline: none;
	box-shadow: none;
}

.button3{
	background-color: #6C61F6;
	border: 2px solid #6C61F6;
	border-radius: 0 10px 10px 0;
	color: white;
	transition: all 0.3s;
}

.button3:hover{
	background-color: white;
	border: 2px solid #6C61F6;
	color: #6C61F6;
}

.button3:focus{
	outline: none;
	box-shadow: none;
}

.image{
	border: 1px solid #8985A8;
	border-radius: 10px;
	margin: 5% auto;
	width: 50%;
	padding: 5px;
}